<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= Spree.t("abandoned_cart.email.subject") %></title>
  </head>
  <body>
    <table cellpadding="0" cellspacing="0" border="0" align="center">
      <% @order.line_items.each do |line_item| %>
        <% variant = line_item.variant %>
        <tr>
          <td class="cart-item-description" data-hook="cart_item_description">
            <strong><%= link_to variant.product.name, spree.product_url(variant.product) %></strong>
          </td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
